/*
Cores:
#CCBAFF 1 Roxo
#A9A9E8 2 
#C6D5FF 3
#A9CAE8 4
#BAF0FF 5 Azul marinho
 */

 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;

}
body {
    background-image: linear-gradient(40deg, #CCBAFF,#A9A9E8,#C6D5FF,#A9CAE8,#BAF0FF);
    background-position: center center;
    background-attachment: fixed;
    background-size: auto;
    padding: .5rem;
}

#main-box {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.200);
    border-radius: .2rem;
    max-width: 1000px;
    min-height: 500px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.11);
    border-bottom: 1px solid #BAF0FF;
}
button {
    margin: 0 .4rem;
    background-color: #fdfdfd98;
    color: #102F5e;
    border: 1px solid #102F5e;
    border-radius: .3rem;
    padding: .2rem .5rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
button:hover {
    background-color: #102F5e;
    color: #FDFDFD;
}
select {
    font-size: .9rem;
    background-color: rgba(255, 255, 255, 0.200);
    border: none;
    border-radius: .3rem;
    font-weight: 500;
}
select:focus{
    outline: none;
}
h4 {
    font-weight: 400;
}
input {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
}
input:focus{
    outline: none;
}
.hide {
    display: none;
}
/* Header */
#main-box header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 0;
    border-bottom: 1px solid #BAF0FF;
    max-width: 95%;
    margin: 0 auto;
} 
#main-box header h1 {
    font-weight: 300;
}

/* Campo de seleção das listas */

#tasks-lists-box {
    display: flex;
    margin: 1rem auto;
    max-width: 95%;
    border-bottom: 1px solid #BAF0FF;
    padding-bottom: .8rem;
    
}
.tlb-item {
    margin: 0 0.4rem;
}

/* Navbar */

#navbar {
    display: flex;
    margin: 1rem auto;
    max-width: 95%;
    border-bottom: 1px solid #BAF0FF;
    padding-bottom: .8rem;
    
}
.nav-item {
    margin: 0 0.4rem;
}
/* Lista de Tarefaas */
#tasks-box {
    display: flex;
    flex-direction: column;
    max-width: 95%;
    margin: 0 auto;
    
}
#create-task-field {
    display: flex;
}
#create-task {
    display: flex;
    margin: 1rem auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 1rem 0 2rem 0;
    border-bottom: 1px solid #BAF0FF;
}
#create-task h4 {
    display: flex;
    align-items: center;
    justify-content: center;
}
#edit-task {
    display: flex;
    padding-bottom: 1rem;
}
.task {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.done h3{
    font-style: italic;
    text-decoration: line-through;
}
.task h3{
    font-weight: 400;
    font-size: 1rem;
}
